<div class="container mt-2">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Editar <%= resource_name.to_s.humanize %></h2>
      </div>
      
      <div class="panel-body">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.input :password,
                        hint: "Dejelo en blanco si no desea cambiar su contraseña",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-group">
            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-group">
            <%= f.input :current_password,
                        hint: "Necesitamos confirmar su contraseña actual para hacer cambios",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>
          <div class="form-group">
            <%= f.button :submit, "Actualizar", class: "btn btn-info" %>
          </div>
        <% end %>

        <div class="panel-footer">

          

          <h3>Cancelar mi cuenta</h3>

          <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
