<div class="container mt-2">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Registro</h2>
        </div>
          <div class="panel-body">

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-group">
                <%= f.input :email,
                            required: true,
                            autofocus: true ,
                            input_html: { autocomplete: "email" }%>
              </div>
              <div class="form-group">
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
              </div>
              <div class="form-group">
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="form-group">
                <%= f.button :submit, "Registrarse", class: "btn btn-info" %>
                
              </div>
            <% end %>
            <%= render "devise/shared/links", class: "mr-3" %>
            
          </div>
      </div>
    </div>
  </div>
</div>


