<nav class="navbar navbar-expand-lg bg-dark text-white">
      <div class="navbar-brand"><%= link_to "Instagram Rails", root_path%></div>
        <% if user_signed_in? %>
          <div class="navbar-nav ml-auto">
            <div class="nav-item nav-link"><%= link_to "Postea", new_pic_path %></div>
            <div class="nav-item nav-link"><%= link_to "Configuracion", edit_user_registration_path %></div>
            <div class="nav-item nav-link"><%= link_to "Desloguearse", destroy_user_session_path, method: :delete %></div>
          </div>
        <% else %>
          <div class="navbar-nav ml-auto">
            <div class="nav-item nav-link"><%= link_to "Unete", new_user_registration_path %></div>
            <div class="nav-item nav-link"><%= link_to "Inicia Sesion", new_user_session_path %></div>
          </div>
        <% end %>
    </nav>