<div class="container-fluid h-100">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading mt-2">
                <h1>Editar Pic</h1>
                </div>
                <div class="panel-body">
                    <div class="current_image">
                        <strong class="center">Cambiar</strong>
                        <%= image_tag @pic.image.url(:medium)%>
                    </div>
                    <%= render "form" %>
                </div>
            </div>
        </div>
    </div>
    
</div>