     <div class="col-md-12 mt-3">
            <div class="transitions-enabled" id="pics">
                <% @pics.each do |pic| %>
                    <div class="box panel panel-default mt-3">
                        <%= link_to (image_tag pic.image.url), pic %>
                        <h2><%= link_to pic.title, pic %></h2>
                    </div>       
                <% end %>
            </div>
        </div>
