<div class="container-fluid h-100">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading mt-2">
                <h1>Nueva Pic</h1>
                </div>
                <div class="panel-body">
                    <%= render "form" %>
                </div>
            </div>
        </div>
    </div>
    
</div>