<div class="container">
    <div class="row" id="pic_show">
        <div class="col-md-6 offset-md-3 mt-3">
            <div class="panel panel-default">
                <div class="panel heading pic_image">

                    <%= image_tag @pic.image.url(:medium) %>
                </div>
                <div class="panel-body">
                    <h1><%= @pic.title %></h1>
                    <p><%= @pic.description %></p>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="user">Por: <%= @pic.user.email %></p>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <%= link_to like_pic_path(@pic), method: :put, class: "btn btn-default" do %>
                                    <span class="fa fa-heart"></span>
                                    <%= @pic.get_upvotes.size %>
                                <% end %>
                                <% if user_signed_in? %>
                                    <%= link_to "Editar", edit_pic_path, class: "ml-3 btn btn-info"%>
                                    <%= link_to "Eliminar", pic_path(@pic), method: :delete, data: {confirm: "Estas Seguro" }, class: "ml-3 btn btn-danger" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</div>