<div class="container mt-2">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">

        <h2>Inicia sesion</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

            <div class="form-group">
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
            </div>

          <div class="form-group">          
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-group">
            <%= f.button :submit, "Inicia Sesion", class: "btn btn-success" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
